<main>
<h1>プライバシーポリシー</h1>
「https://webgame.link/auths/」（以下、当サイト）は、利用者の個人情報をお預かりするにあたり、以下のとおり個人情報保護方針を定め、個人情報を保護いたします。

<h3>個人情報の収集について</h3>
<p>
本サイトにログインする際に、利用者の氏名やメールアドレス、プロフィール画像等の個人情報を収集いたします。収集した個人情報は、サーバ内のメモリおよびセッション情報にのみ一時的に保持いたしますが、ファイルやデータベースに保存することはありません。収集した個人情報はサーバ内で秘密管理され、第三者に開示・共有することは一切ありません。
</p>

<h3>ウェブサーバの記録</h3>
<p>
当サイトのウェブサーバは、利用者のコンピュータのIPアドレスを自動的に収集・記録しますが、これらは利用者個人を特定するものではありません。
</p>

<h3>免責事項</h3>
<p>
当サイトからリンクされた当サイト以外のウェブサイトの内容やサービスに関しては、当サイトの個人情報保護についての諸条件は適用されません。当サイト以外のウェブサイトの内容および個人情報の保護に関しても、当サイト管理者は責任を負いません。
</p>
<p>
<%= link_to main_index_path do %>
  Main View に戻る
<% end %>
</p>
</main>
